<?xml version="1.0" encoding="UTF-8"?>
<!--
=========================================================================================
 Copyright 2016 Community Information Online Consortium (CIOC) and KCL Software Solutions Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
=========================================================================================
-->
<configuration>
    <location path="styles/d">
        <system.webServer>
            <caching>
                <profiles>
                    <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                    <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                </profiles>
            </caching>
        </system.webServer>
    </location> 
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
                <hiddenSegments>
                    <add segment="python" />
                    <add segment="docs" />
                    <add segment="text" />
                    <add segment=".git" />
                    <add segment="includes" />
                    <add segment="aspnet_client" />
                    <add segment="obj" />
                    <add segment="Properties" />
                    <add segment=".gitignore" />
                    <add segment=".jshintrc" />
                    <add segment="pythonport.config" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".py" allowed="false" />
                    <add fileExtension=".suo" allowed="false" />
                    <add fileExtension=".sln" allowed="false" />
					<add fileExtension=".php" allowed="false" />
                </fileExtensions>
				<denyQueryStringSequences>
					<add sequence="%bf%27" />
				</denyQueryStringSequences>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <clear />
				<rule name="LetsEncrypt Rule" stopProcessing="true">
					<match url="^\.well-known.*$" />
					<action type="None" />
				</rule>
                <rule name="MaintenanceMode" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="maintenancebypass/sadflkjfs09df" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DOCUMENT_ROOT}\maintenance.txt" matchType="IsFile" />
                        <add input="{HTTP_COOKIE}" pattern=".*maintenancebypass=1.*" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="503" statusReason="Maintenance is in progress" statusDescription="Maintenance is currently in progress" />
                </rule>
                <rule name="Maintenance Bypass Redirect" stopProcessing="true">
                    <match url="maintenancebypass/sadflkjfs09df" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DOCUMENT_ROOT}\maintenance.txt" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/login.asp" redirectType="Found" />
                </rule>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{HSTSEnabled:{HTTP_HOST}}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
                        redirectType="Permanent" />
                </rule>
                <rule name="Block Trackback Requests" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="/trackback/?" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" statusCode="404" statusReason="File or directory not found." statusDescription="The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable." />
                </rule>
                <rule name="Canonical NUM Page" stopProcessing="true">
                    <match url="^details\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^NUM=([a-z]{3}\d{4,5})$" />
                    </conditions>
                    <action type="Redirect" url="record/{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Canonical NUM Page 2" stopProcessing="true">
                    <match url="^details\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^(.+)&amp;NUM=([a-z]{3}\d{4,5})$" />
                    </conditions>
                    <action type="Redirect" url="record/{C:2}?{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Canonical NUM Page 3" stopProcessing="true">
                    <match url="^details\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^NUM=([a-z]{3}\d{4,5})&amp;(.+)$" />
                    </conditions>
                    <action type="Redirect" url="record/{C:1}?{C:2}" appendQueryString="false" />
                </rule>
                <rule name="Canonical NUM Page 4" stopProcessing="true">
                    <match url="^details\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^(.+)&amp;NUM=([a-z]{3}\d{4,5})&amp;(.+)$" />
                    </conditions>
                    <action type="Redirect" url="record/{C:2}?{C:1}&amp;{C:3}" appendQueryString="false" />
                </rule>
                <rule name="CIC Record Details Redirect buggy URL" stopProcessing="true">
                    <match url="^(record/[A-Z]{3}\d{4,5})/&amp;" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="CSrch Page change" stopProcessing="true">
                    <match url="^csrch\.asp$" />
                    <action type="Redirect" url="csrch" appendQueryString="true" />
                </rule>
                <rule name="Set CIOC Friendly Record URL Headers">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="HTTP_CIOC_FRIENDLY_RECORD_URL" value="on" />
                        <set name="HTTP_CIOC_FRIENDLY_RECORD_URL_ROOT" value="record/" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Set SSL Headers">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="on" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                        <set name="HTTP_CIOC_USING_SSL" value="on" />
                        <set name="HTTP_CIOC_SSL_POSSIBLE" value="on" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Set IS HSTS Headers">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HSTSEnabled:{HTTP_HOST}}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_CIOC_SSL_HSTS" value="on" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Set SSL Possible Header">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                        <add input="{HTTP_HOST}" pattern="[^\.]+\.cioc\.ca" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_CIOC_SSL_POSSIBLE" value="on" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Set HTTP X-Forwarded-For">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_PROTO" value="http" />
                    </serverVariables>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Generated CSS Files" stopProcessing="true">
                    <match url="^(styles/d/\d+/cioc[^_]+_\d+(_debug)?.css)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:6543}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
                <rule name="Generated Image Files" stopProcessing="true">
                    <match url="^(styles/d/\d+/images/.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:6543}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
                <rule name="Pyramid Debug passthrough" stopProcessing="true">
                    <match url="^(_debug_.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:6543}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
                <rule name="jQuery Versioned Files" stopProcessing="true">
                    <match url="^(scripts/jquery.*\.min\.js)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Versioned Files" stopProcessing="true">
                    <match url="^(.*)_v[0-9]+(\.[a-zA-Z]{2,4})$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Media Files" stopProcessing="true">
                    <match url="^(.*\.)(css|js|gif|jpg|jpeg|png|html|xsd|txt|woff|woff2|eot|ttf|svg)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" appendQueryString="false" />
                </rule>
                <rule name="Fix broken Volunteer email link" stopProcessing="true">
                    <match url="^(/volunteer/record/V-[A-Za-z]{3}\d{4,5})&amp;(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}?{R:2}" appendQueryString="false" />
                </rule>
                <rule name="VOL Record Details" stopProcessing="true">
                    <match url="^volunteer/record/(V-[A-Z]{3}\d{4,5})$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="volunteer/details.asp?VNUM={R:1}" />
                </rule>
                <rule name="Append trailing slash to volunteer" stopProcessing="true">
                    <match url="^(volunteer)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}/" />
                </rule>
                <rule name="Force Volunteer profiles to asp" stopProcessing="true">
                    <match url="^(volunteer/profile/?)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="Redirect away from start.asp" stopProcessing="true">
                    <match url="^(volunteer/)?start.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="ASP Pages" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="PHP Pages" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SetPythonPort:6543}" pattern="(.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.1:{C:1}/{R:1}" />
                </rule>
            </rules>
            <rewriteMaps configSource="pythonport.config">
            </rewriteMaps>
            <outboundRules>
                <rule name="Maintenance Bypass" preCondition="URL Is Fix URL" stopProcessing="true">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
					<action type="Rewrite" value="maintenancebypass=1; Path=/" />
                </rule>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                        <add input="{HSTSEnabled:{HTTP_HOST}}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
                <preConditions>
                    <preCondition name="URL Is Fix URL">
                        <add input="{URL}" pattern="maintenancebypass/sadflkjfs09df" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="start.asp" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
