<div id="cic-search-area" class="row">

	[IF:HAS_LEFT_CONTENT]
	<div class="search-left col-xs-12 col-sm-4 col-md-3 col-lg-3">
		[IF:SEARCH_ALERT]
		<div class="panel panel-danger search-alert-box">
			[IF:SEARCH_ALERT_TITLE]
			<div class="panel-heading">
				<h2>
					[IF:SEARCH_ALERT_GLYPH]<span class="glyphicon glyphicon-[SEARCH_ALERT_GLYPH]" aria-hidden="true"></span>[ENDIF:SEARCH_ALERT_GLYPH]
					[SEARCH_ALERT_TITLE]
				</h2>
			</div>
			[ENDIF:SEARCH_ALERT_TITLE]
			<div class="panel-body panel-body-nofooter">
				[SEARCH_ALERT]
			</div>
		</div>
		[ENDIF:SEARCH_ALERT]

		[IF:SEARCH_MENU]
		<nav class="navmenu navmenu-default navmenu-fluid search-menu-msg" role="navigation" id="search-navmenu">
			[IF:MENU_TITLE]
			<div class="navmenu-heading">
				<button type="button" class="navmenu-toggle collapsed" data-toggle="collapse" data-target="#search-navmenu .navmenu-collapse" aria-expanded="false">
					<span class="sr-only">[TOGGLE_NAV_TITLE]</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h2 class="navmenu-brand">
					[IF:MENU_GLYPH]<span class="glyphicon glyphicon-[MENU_GLYPH]" aria-hidden="true"></span>[ENDIF:MENU_GLYPH]
					[MENU_TITLE]
				</h2>
			</div>
			[ENDIF:MENU_TITLE]
			[IF:MENU_MESSAGE]
			<div class="navmenu-text">
				[MENU_MESSAGE]
			</div>
			[ENDIF:MENU_MESSAGE]
			<div id="search-cioc-menu" class="navmenu-collapse collapse">
				<ul class="nav navmenu-nav">
					[FOR:OTHER_LANGS]
					<li><a href="[LINK]">[DISPLAY]</a></li>
					[ENDFOR:OTHER_LANGS]
					[IF:VOL_LINK]
					<li><a href="[VOL_LINK]">[VOL_LINK_TEXT]</a></li>
					[ENDIF:VOL_LINK]
					[FOR:CUSTOM_MENU_ITEMS]
					<li><a href="[LINK]">[DISPLAY]</a></li>
					[ENDFOR:CUSTOM_MENU_ITEMS]
					[FOR:SEARCH_MENU_ITEMS]
					<li><a href="[LINK]">[DISPLAY]</a></li>
					[ENDFOR:SEARCH_MENU_ITEMS]
					[IF:CHANGE_VIEW]
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">[CHANGE_VIEW_TITLE]<span class="caret"></span></a>
						<ul class="dropdown-menu navmenu-nav" role="menu">
							[FOR:VIEWS_LIST]
							<li><a href="[FN:MAKE_LINK]/?UseCICVw=[VIEWTYPE][ENDFN:MAKE_LINK]">[ViewName]</a></li>
							[ENDFOR:VIEWS_LIST]
						</ul>
					</li>
					[ENDIF:CHANGE_VIEW]
				</ul>
			</div>
		</nav>
		[ENDIF:SEARCH_MENU]

		[IF:SEARCH_LEFT_CONTENT]
		<div class="panel panel-info">
			[IF:SEARCH_LEFT_TITLE]
			<div class="panel-heading"><h2>[IF:SEARCH_LEFT_GLYPH]<span class="glyphicon glyphicon-[SEARCH_LEFT_GLYPH]" aria-hidden="true"></span> [ENDIF:SEARCH_LEFT_GLYPH][SEARCH_LEFT_TITLE]</h2></div>
			[ENDIF:SEARCH_LEFT_TITLE]
			<div class="panel-body panel-body-nofooter">
				[SEARCH_LEFT_CONTENT]
			</div>
		</div>
		[ENDIF:SEARCH_LEFT_CONTENT]

	</div>
	[ENDIF:HAS_LEFT_CONTENT]

	[IF:HAS_CENTRE_SECTION]
	<div class="col-xs-12
		 [IFANY:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
			col-sm-8
			[IFNOTALL:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
				col-md-9 col-lg-9
			[ENDIFNOTALL:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
			[IFALL:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
				col-md-6 col-lg-6
			[ENDIFALL:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
		 [ENDIFANY:HAS_LEFT_CONTENT,HAS_RIGHT_OR_SERVCAT]
		 ">
		<div class="search-form">
			<div id="search-tabs" class="make-me-tabbed">
				<ul>
					[IF:BASIC_SEARCH_SECTION]
					<li>
						<a href="#basic-search">
							<span class="glyphicon glyphicon-[SEARCH_KEYWORD_GLYPH]" aria-hidden="true"></span>
							[SEARCH_KEYWORD_TITLE]
						</a>
					</li>
					[ENDIF:BASIC_SEARCH_SECTION]
					[IF:QUICK_SEARCHES_NOTAB]
					<li>
						<a href="#quick-search">
							[IF:QUICK_SEARCH_GLYPH]<span class="glyphicon glyphicon-[QUICK_SEARCH_GLYPH]" aria-hidden="true"></span> [ENDIF:QUICK_SEARCH_GLYPH]
							[QUICK_SEARCH_TITLE]
						</a>
					</li>
					[ENDIF:QUICK_SEARCHES_NOTAB]
					[FOR:TOPIC_SEARCHES]
					<li><a href="[LINK]">[TITLE]</a></li>
					[ENDFOR:TOPIC_SEARCHES]
					[FOR:QUICK_SEARCHES_TAB]
					<li><a href="[URL]">[NAME]</a></li>
					[ENDFOR:QUICK_SEARCHES_TAB]

					[IF:CHILDCARE_SEARCH_URL]
					<li>
						<a href="[CHILDCARE_SEARCH_URL]">
							<i class="fa fa-child" aria-hidden="true"></i>
							[CHILDCARE_SEARCH_TITLE]
						</a>
					</li>
					[ENDIF:CHILDCARE_SEARCH_URL]

					[IF:BROWSE_BY_INDUSTRY_URL]
					<li>
						<a href="[BROWSE_BY_INDUSTRY_URL]">
							<i class="fa fa-industry" aria-hidden="true"></i>
							[NAICS_TITLE]
						</a>
					</li>[ENDIF:BROWSE_BY_INDUSTRY_URL]
					[IF:BROWSE]
					<li>
						<a href="#browse">
							<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> 
							[BROWSE_TITLE]
						</a>
					</li>
					[ENDIF:BROWSE]
					[IF:SEARCH_CENTRE_CONTENT]
					<li>
						<a href="#search-centre">
							[IF:SEARCH_CENTRE_GLYPH]<span class="glyphicon glyphicon-[SEARCH_CENTRE_GLYPH]" aria-hidden="true"></span> [ENDIF:SEARCH_CENTRE_GLYPH]
							[SEARCH_CENTRE_TITLE]
						</a>
					</li>
					[ENDIF:SEARCH_CENTRE_CONTENT]
				</ul>
				[IF:BASIC_SEARCH_SECTION]
				<div id="basic-search">
					[BASIC_SEARCH]
				</div>
				[ENDIF:BASIC_SEARCH_SECTION]

				[IF:QUICK_SEARCHES_NOTAB]
				<div id="quick-search">
					[FOR:QUICK_SEARCHES_NOTAB]
					[IF:COUNT]<br>[ENDIF:COUNT]<a href="[URL]">[NAME]</a>
					[ENDFOR:QUICK_SEARCHES_NOTAB]
				</div>
				[ENDIF:QUICK_SEARCHES_NOTAB]

				[IF:BROWSE]
				<div id="browse">
					[IF:BROWSE_ORG_ITEMS]
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> [BROWSE_ORG_TITLE]</h2>
						</div>
						<div class="panel-body panel-body-nofooter">
							<div id="browse-by-org">
								[FOR:BROWSE_ORG_ITEMS]
								<a href="[LINK]"><div class="browse-by-item">[DISPLAY]</div></a>
								[ENDFOR:BROWSE_ORG_ITEMS]
							</div>
						</div>
					</div>
					[ENDIF:BROWSE_ORG_ITEMS]

					[IF:BROWSE_SUBJ_ITEMS]
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> [BROWSE_SUBJ_TITLE]</h2>
						</div>
						<div class="panel-body panel-body-nofooter">
							<div id="browse-by-subject">
								[FOR:BROWSE_SUBJ_ITEMS]
								<a href="[LINK]"><div class="browse-by-item">[DISPLAY]</div></a>
								[ENDFOR:BROWSE_SUBJ_ITEMS]
							</div>
						</div>
					</div>
					[ENDIF:BROWSE_SUBJ_ITEMS]
				</div>
				[ENDIF:BROWSE]

				[IF:SEARCH_CENTRE_CONTENT]
				<div id="search-centre">
					[SEARCH_CENTRE_CONTENT]
				</div>
				[ENDIF:SEARCH_CENTRE_CONTENT]
			</div>
		</div>
	</div>
	[ENDIF:HAS_CENTRE_SECTION]

	[IFANY:SERVICE_CATEGORY,SEARCH_RIGHT_CONTENT]
	<div class="col-xs-12 [IF:HAS_LEFT_CONTENT] col-sm-12 [ENDIF:HAS_LEFT_CONTENT][IFNOT:HAS_LEFT_CONTENT] col-sm-4[ENDIFNOT:HAS_LEFT_CONTENT] col-md-3 col-lg-3">
		[IF:SERVICE_CATEGORY]
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2><span class="glyphicon glyphicon-th" aria-hidden="true"></span> [SERVICE_CATEGORY_TITLE]</h2>
			</div>
			<div class="panel-body panel-body-nofooter no-padding">
				<div id="service-category">
					[SERVICE_CATEGORY_LIST]
				</div>
			</div>
		</div>
		[ENDIF:SERVICE_CATEGORY]

		[IF:SEARCH_RIGHT_CONTENT]
		<div class="panel panel-info">
			[IF:SEARCH_RIGHT_TITLE]
			<div class="panel-heading"><h2>[IF:SEARCH_RIGHT_GLYPH]<span class="glyphicon glyphicon-[SEARCH_RIGHT_GLYPH]" aria-hidden="true"></span> [ENDIF:SEARCH_RIGHT_GLYPH][SEARCH_RIGHT_TITLE]</h2></div>
			[ENDIF:SEARCH_RIGHT_TITLE]
			<div class="panel-body panel-body-nofooter">
				[SEARCH_RIGHT_CONTENT]
			</div>
		</div>
		[ENDIF:SEARCH_RIGHT_CONTENT]
	</div>
	[ENDIFANY:SERVICE_CATEGORY,SEARCH_RIGHT_CONTENT]
</div>

