</div> <!-- end container -->

<div class="footer footer-wide [IF:CONTAINER_CONTRAST]footer-contrast[ENDIF:CONTAINER_CONTRAST]">
	<div class="container[IF:CONTAINER_FLUID]-fluid[ENDIF:CONTAINER_FLUID]">
		<div class="row">
			[IF:FOOTER_MENU_OR_NOTICE]
			<div class="[IFANY:HAS_CONTACT_SECTION,FOOTER_NOTICE_2]col-sm-6[ENDIFANY:HAS_CONTACT_SECTION,FOOTER_NOTICE_2]
						[IFNOTANY:HAS_CONTACT_SECTION,FOOTER_NOTICE_2]col-sm-12[ENDIFNOTANY:HAS_CONTACT_SECTION,FOOTER_NOTICE_2]">
				[IF:FOOTER_NOTICE]
				[FOOTER_NOTICE]
				[ENDIF:FOOTER_NOTICE]
				[IF:NOT_PRINT_MODE]
				<div class="table link-table">
					[FOR:FOOTER_MENU]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-angle-double-right fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[LINK]">[DISPLAY]</a></div>
					</div>
					[ENDFOR:FOOTER_MENU]
				</div>
				[ENDIF:NOT_PRINT_MODE]
			</div>
			[ENDIF:FOOTER_MENU_OR_NOTICE]

			[IF:HAS_CONTACT_SECTION]
			<div class="[IFALL:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]col-sm-4[ENDIFALL:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]
				[IFNOTALL:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]
					[IFANY:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]col-sm-6[ENDIFANY:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]
				[ENDIFNOTALL:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]
				[IFNOTANY:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]col-sm-12[ENDIFNOTANY:FOOTER_MENU_OR_NOTICE,FOOTER_NOTICE_2]
					">
				[IF:CONTACT_AGENCY]
				<h2>[CONTACT_AGENCY]</h2>
				[ENDIF:CONTACT_AGENCY]
				<div class="table link-table">
					[IF:CONTACT_ADDRESS]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-map-marker fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text">[CONTACT_ADDRESS]</div>
					</div>
					[ENDIF:CONTACT_ADDRESS]
					[IF:CONTACT_PHONE]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-phone fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text">[CONTACT_PHONE]</div>
					</div>
					[ENDIF:CONTACT_PHONE]
					[IF:CONTACT_EMAIL]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_EMAIL]">[CONTACT_EMAIL_LABEL]</a></div>
					</div>
					[ENDIF:CONTACT_EMAIL]
					[IF:CONTACT_WEB]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-link fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_WEB]">[CONTACT_WEB_LABEL]</a></div>
					</div>
					[ENDIF:CONTACT_WEB]
					[IF:CONTACT_FACEBOOK]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_FACEBOOK]">Facebook</a></div>
					</div>
					[ENDIF:CONTACT_FACEBOOK]
					[IF:CONTACT_TWITTER]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_TWITTER]">X (Twitter)</a></div>
					</div>
					[ENDIF:CONTACT_TWITTER]
					[IF:CONTACT_INSTAGRAM]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-instagram fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_INSTAGRAM]">Instagram</a></div>
					</div>
					[ENDIF:CONTACT_INSTAGRAM]
					[IF:CONTACT_LINKEDIN]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_LINKEDIN]">LinkedIn</a></div>
					</div>
					[ENDIF:CONTACT_LINKEDIN]
					[IF:CONTACT_YOUTUBE]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-youtube fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[CONTACT_YOUTUBE]">YouTube</a></div>
					</div>
					[ENDIF:CONTACT_YOUTUBE]
					[IF:TERMS_OF_USE_LINK]
					<div class="table-row">
						<div class="table-cell icon-cell">
							<span class="fa-stack">
								<i class="fa fa-circle fa-stack-2x"></i>
								<i class="fa fa-info fa-inverse fa-stack-1x"></i>
							</span>
						</div>
						<div class="table-cell icon-cell-text"><a href="[TERMS_OF_USE_LINK]">[TERMS_OF_USE_LABEL]</a></div>
					</div>
					[ENDIF:TERMS_OF_USE_LINK]
					[IF:FOOTER_NOTICE_CONTACT]
					[FOOTER_NOTICE_CONTACT]
					[ENDIF:FOOTER_NOTICE_CONTACT]
				</div>
			</div>
			[ENDIF:HAS_CONTACT_SECTION]
			[IF:FOOTER_NOTICE_2]
			<div class="[IF:FOOTER_MENU_OR_NOTICE]
						[IF:HAS_CONTACT_SECTION]col-sm-2[ENDIF:HAS_CONTACT_SECTION]
						[IFNOT:HAS_CONTACT_SECTION]col-sm-6[ENDIFNOT:HAS_CONTACT_SECTION]
					[ENDIF:FOOTER_MENU_OR_NOTICE]
					[IFNOT:FOOTER_MENU_OR_NOTICE]
						[IF:HAS_CONTACT_SECTION]col-sm-6[ENDIF:HAS_CONTACT_SECTION]
						[IFNOT:HAS_CONTACT_SECTION]col-sm-12[ENDIFNOT:HAS_CONTACT_SECTION]
					[ENDIFNOT:FOOTER_MENU_OR_NOTICE]">
				[FOOTER_NOTICE_2]
			</div>
			[ENDIF:FOOTER_NOTICE_2]
		</div>
	</div>
</div>
